
.App {
  text-align: center;
}

.box{
  position:relative;
}

.main {
    width:100%;
    border-spacing:0;
    margin:0;
}
.main th{
    height:30px;
}

.main thead>tr{
    background-color: rgba(142, 170, 93, 0.31);
    border-bottom:1px solid black;
}

.main  td{
    width:calc(100%/ 4);
}


.main tr:hover{
    background:#ccc;
    cursor:pointer;
}

.main tr:focus {
    background: #bbbd95;
    outline: none;
}

.taskList{
    text-align:left;
    border:1px solid black;
}

.clear{
    clear:both;
    display:inline-block;
}

.addBtn{
    margin:5px !important;
    float:left;
    width:20px;
    height:20px;
    line-height:20px;
}

.addForm{
    display:block;
    position:relative;
    box-sizing:inherit;
    width:200px;
    background-color:white;
    border:1px solid black;
    border-radius:0 15px 15px 0;
    margin-top:-1px;
    margin-right:-20px;
    z-index:6;
}

.details{
    padding-left:25px;
    width:calc(100% - 55px);
    position:relative;
    display:inline-block;
    right:0;
    text-align:left;
    background-color: rgba(214, 170, 54, 0.33);
    z-index:5;
    margin:0;
}


.Btn {
    margin-right:2px;
    background-color: #dadada;
    border-radius:10px;
    color:#fff;
    border: 0;
    font-weight:200;
    text-transform:uppercase;
    cursor:pointer;
    text-decoration:none;
}
.Btn:hover {
    background: rgb(53, 167, 110);
    transition:all 0.2s ease-in-out;
}

.Btn:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.Btn:focus {outline:none !important;}
